<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertDeprecationsToExceptions="false"
         failOnRisky="true"
         failOnWarning="true"
         cacheResultFile="../runtime/.phpunit.result.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- 测试环境强制 E_ALL，让 application/common.php:12 静默的 warning 在测试中暴露为失败 -->
        <ini name="error_reporting" value="32767"/>
        <ini name="display_errors" value="1"/>
        <env name="APP_TESTING" value="1"/>
    </php>
</phpunit>
